Repository cse110-sp21-group19/cse110-sp21-group19, pull requests merged in 2021-06, with the labels that each got.

#113 Fixed side nav bug
  source/Frontend/components/side-nav.js
  source/Frontend/style/components/sidenav.scss
  source/Frontend/style/css/sidenav.css
  source/Frontend/style/css/sidenav.css.map
Labels: Front-End, bug

#115 Frontend create db bug
  source/Frontend/scripts/addl-entries-script.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/scripts/weekly-nav-script.js
Labels: Front-End, bug

#116 Added the option to upload images
  source/Backend/api/entries_api.js
  source/Frontend/components/addl_entries/entry-bar.js
  source/Frontend/components/addl_entries/text-entry.js
  source/Frontend/scripts/addl-entries-script.js
  source/Frontend/scripts/binary-helpers.js
  source/Frontend/scripts/router.js
  source/Frontend/style/components/entrybar.scss
  source/Frontend/style/components/textentry.scss
  source/Frontend/style/css/entrybar.css
  source/Frontend/style/css/entrybar.css.map
  source/Frontend/style/css/textentry.css
  source/Frontend/style/css/textentry.css.map
Labels: Feature, Front-End

#117 Added the ability to save and get nested bullets
  source/Backend/api/bullet_api.js
  source/Backend/api/bullet_api_test.js
  source/Backend/api/index.html
  source/Frontend/components/main-text.js
  source/Frontend/scripts/main-text-script.js
  source/Frontend/scripts/router.js
Labels: Feature, Front-End

#120 Calendar component
  source/Frontend/components/calendar.js
  source/Frontend/index.html
  source/Frontend/scripts/calendar-script.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/scripts/weekly-nav-script.js
  source/Frontend/style/components/calendar.scss
  source/Frontend/style/components/sidenav.scss
  source/Frontend/style/components/weeklynav.scss
  source/Frontend/style/css/calendar.css
  source/Frontend/style/css/calendar.css.map
  source/Frontend/style/css/example.css
  source/Frontend/style/css/example.css.map
  source/Frontend/style/css/sidenav.css
  source/Frontend/style/css/sidenav.css.map
  source/Frontend/style/css/weeklynav.css.map
Labels: Feature, Front-End

#121 Todo component
  source/Frontend/components/calendar.js
  source/Frontend/components/todo-list.js
  source/Frontend/components/weekly-nav.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/scripts/todo-script.js
  source/Frontend/scripts/weekly-nav-script.js
  source/Frontend/style/components/calendar.scss
  source/Frontend/style/components/todo.scss
  source/Frontend/style/components/weeklynav.scss
  source/Frontend/style/css/calendar.css
  source/Frontend/style/css/calendar.css.map
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
  source/Frontend/style/css/sidenav.css.map
  source/Frontend/style/css/todo.css
  source/Frontend/style/css/todo.css.map
  source/Frontend/style/css/weeklynav.css
  source/Frontend/style/css/weeklynav.css.map
  source/Frontend/style/layout/_layout.scss
Labels: Feature, Front-End

#122 Fixed image override bug
  source/Frontend/components/addl_entries/entry-bar.js
  source/Frontend/scripts/addl-entries-script.js
Labels: Front-End, bug

#124 Created future nav menu
  source/Frontend/components/future-nav.js
  source/Frontend/components/todo-list.js
  source/Frontend/index.html
  source/Frontend/scripts/future-nav-script.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/style/components/futurenav.scss
  source/Frontend/style/components/todo.scss
  source/Frontend/style/css/futurenav.css
  source/Frontend/style/css/futurenav.css.map
  source/Frontend/style/css/todo.css
  source/Frontend/style/css/todo.css.map
Labels: Feature, Front-End

#129 default to daily
  source/Frontend/scripts/script.js
Labels: Front-End, bug

#131 Fixed Additional Entries Future Log Bug
  source/Frontend/scripts/router.js
Labels: Front-End, bug

#137 fixed editing bug + minor styling adjustments
  source/Frontend/components/addl_entries/entry-bar.js
  source/Frontend/scripts/addl-entries-script.js
  source/Frontend/style/components/entrybar.scss
  source/Frontend/style/css/entrybar.css
  source/Frontend/style/css/entrybar.css.map
Labels: Front-End, bug

#143 Dark mode
  source/Backend/api/bullet_api.js
  source/Backend/api/entries_api.js
  source/Backend/api/settings_api.js
  source/Backend/api/testing/bullet_api_test.js
  source/Backend/api/testing/index.html
  source/Frontend/components/calendar.js
  source/Frontend/components/future-nav.js
  source/Frontend/components/icons.js
  source/Frontend/components/main-text.js
  source/Frontend/components/side-nav.js
  source/Frontend/components/todo-list.js
  source/Frontend/components/weekly-nav.js
  source/Frontend/scripts/main-text-script.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/scripts/side-nav-script.js
  source/Frontend/scripts/weekly-nav-script.js
  source/Frontend/style/components/_maintext.scss
  source/Frontend/style/components/bulletentry.scss
  source/Frontend/style/components/bulletinput.scss
  source/Frontend/style/components/calendar.scss
  source/Frontend/style/components/futurenav.scss
  source/Frontend/style/components/sidenav.scss
  source/Frontend/style/components/todo.scss
  source/Frontend/style/components/weeklynav.scss
  source/Frontend/style/css/bulletentry.css
  source/Frontend/style/css/bulletentry.css.map
  source/Frontend/style/css/bulletinput.css
  source/Frontend/style/css/bulletinput.css.map
  source/Frontend/style/css/calendar.css
  source/Frontend/style/css/calendar.css.map
  source/Frontend/style/css/futurenav.css
  source/Frontend/style/css/futurenav.css.map
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
  source/Frontend/style/css/sidenav.css
  source/Frontend/style/css/sidenav.css.map
  source/Frontend/style/css/todo.css
  source/Frontend/style/css/todo.css.map
  source/Frontend/style/css/weeklynav.css
  source/Frontend/style/css/weeklynav.css.map
  source/Frontend/style/layout/_layout.scss
  specs/docs/backend/settings_api.js.html
Labels: Feature, Front-End

#146 Help page
  source/Frontend/components/main-text.js
  source/Frontend/index.html
  source/Frontend/style/components/_maintext.scss
  source/Frontend/style/components/bulletentry.scss
  source/Frontend/style/css/bulletentry.css
  source/Frontend/style/css/bulletentry.css.map
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
Labels: Front-End, bug

#148 update the input area with the current bullet indent, limit number of…
  source/Frontend/scripts/main-text-script.js
  source/Frontend/scripts/router.js
  source/Frontend/style/components/_maintext.scss
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
Labels: Front-End, bug

#149 Help page
  source/Frontend/scripts/help-guide-script.js
  source/Frontend/scripts/router.js
  source/Frontend/style/components/_maintext.scss
  source/Frontend/style/components/bulletentry.scss
  source/Frontend/style/components/helpguide.scss
  source/Frontend/style/css/bulletentry.css
  source/Frontend/style/css/bulletentry.css.map
  source/Frontend/style/css/helpguide.css
  source/Frontend/style/css/helpguide.css.map
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
Labels: Front-End, bug, enhancement

#151 Code cleanup manda
  source/Frontend/components/calendar.js
  source/Frontend/components/example.js
  source/Frontend/components/future-nav.js
  source/Frontend/components/help-guide.js
  source/Frontend/components/icons.js
  source/Frontend/components/main-text.js
  source/Frontend/components/side-nav.js
  source/Frontend/components/todo-list.js
  source/Frontend/components/weekly-nav.js
  source/Frontend/scripts/help-guide-script.js
  source/Frontend/scripts/main-text-script.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/style/abstracts/_variables.scss
  source/Frontend/style/base/_reset.scss
  source/Frontend/style/base/_typography.scss
  source/Frontend/style/components/_maintext.scss
  source/Frontend/style/components/bulletentry.scss
  source/Frontend/style/components/bulletinput.scss
  source/Frontend/style/components/helpguide.scss
  source/Frontend/style/components/sidenav.scss
  source/Frontend/style/css/bulletentry.css
  source/Frontend/style/css/bulletentry.css.map
  source/Frontend/style/css/bulletinput.css
  source/Frontend/style/css/bulletinput.css.map
  source/Frontend/style/css/calendar.css
  source/Frontend/style/css/calendar.css.map
  source/Frontend/style/css/entrybar.css
  source/Frontend/style/css/entrybar.css.map
  source/Frontend/style/css/futurenav.css
  source/Frontend/style/css/futurenav.css.map
  source/Frontend/style/css/helpguide.css
  source/Frontend/style/css/helpguide.css.map
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
  source/Frontend/style/css/sidenav.css
  source/Frontend/style/css/sidenav.css.map
  source/Frontend/style/css/todo.css
  source/Frontend/style/css/todo.css.map
  source/Frontend/style/css/weeklynav.css
  source/Frontend/style/css/weeklynav.css.map
  source/Frontend/style/layout/_footer.scss
  source/Frontend/style/layout/_header.scss
  source/Frontend/style/layout/_layout.scss
  source/Frontend/style/main.scss
Labels: Front-End, enhancement

#138 Testing Updates/Fixes
  package-lock.json
  package.json
  source/Testing/backend.test.js
Labels: Back-End

#153 Cleaned up my code/comments
  source/Frontend/components/addl_entries/entry-bar.js
  source/Frontend/components/future-nav.js
  source/Frontend/components/todo-list.js
  source/Frontend/components/weekly-nav.js
  source/Frontend/scripts/calendar-script.js
  source/Frontend/scripts/future-nav-script.js
  source/Frontend/scripts/side-nav-script.js
  source/Frontend/scripts/todo-script.js
  source/Frontend/scripts/weekly-nav-script.js
  source/Frontend/style/components/calendar.scss
  source/Frontend/style/components/entrybar.scss
  source/Frontend/style/components/futurenav.scss
  source/Frontend/style/components/sidenav.scss
  source/Frontend/style/components/todo.scss
  source/Frontend/style/components/weeklynav.scss
  source/Frontend/style/css/calendar.css
  source/Frontend/style/css/calendar.css.map
  source/Frontend/style/css/entrybar.css
  source/Frontend/style/css/futurenav.css
  source/Frontend/style/css/futurenav.css.map
  source/Frontend/style/css/main.css
  source/Frontend/style/css/main.css.map
  source/Frontend/style/css/sidenav.css
  source/Frontend/style/css/sidenav.css.map
  source/Frontend/style/css/todo.css
  source/Frontend/style/css/todo.css.map
  source/Frontend/style/css/weeklynav.css
  source/Frontend/style/css/weeklynav.css.map
  source/Frontend/style/layout/_layout.scss
Labels: documentation

#155 delete console logs, clean up code and comments
  source/Frontend/components/log-type.js
  source/Frontend/components/main-text.js
  source/Frontend/scripts/help-guide-script.js
  source/Frontend/scripts/main-text-script.js
  source/Frontend/scripts/router.js
  source/Frontend/scripts/script.js
  source/Frontend/style/components/bulletinput.scss
  source/Frontend/style/css/bulletinput.css
  source/Frontend/style/css/bulletinput.css.map
Labels: Front-End

#160 6/9 meeting notes
  README.md
  admin/meetings/060921-Private-Video.md
  specs/docs/backend/bullet_api.js.html
  specs/docs/backend/entries_api.js.html
  specs/docs/backend/global.html
  specs/docs/backend/index.html
  specs/docs/backend/settings_api.js.html
  specs/docs/frontend/BulletEntry.html
  specs/docs/frontend/BulletInput.html
  specs/docs/frontend/BulletList.html
  specs/docs/frontend/Calendar.html
  specs/docs/frontend/FutureNav.html
  specs/docs/frontend/HelpElement.html
  specs/docs/frontend/HelpSection.html
  specs/docs/frontend/HelpTableOfContents.html
  specs/docs/frontend/LogType.html
  specs/docs/frontend/SideNav.html
  specs/docs/frontend/TodoList.html
  specs/docs/frontend/WeeklyNav.html
  specs/docs/frontend/addlEntry.html
  specs/docs/frontend/components_addl_entries_entry-bar.js.html
  specs/docs/frontend/components_addl_entries_text-entry.js.html
  specs/docs/frontend/components_calendar.js.html
  specs/docs/frontend/components_future-nav.js.html
  specs/docs/frontend/components_help-guide.js.html
  specs/docs/frontend/components_log-type.js.html
  specs/docs/frontend/components_main-text.js.html
  specs/docs/frontend/components_side-nav.js.html
  specs/docs/frontend/components_todo-list.js.html
  specs/docs/frontend/components_weekly-nav.js.html
  specs/docs/frontend/entryBar.html
  specs/docs/frontend/global.html
  specs/docs/frontend/index.html
  specs/docs/frontend/scripts_addl-entries-script.js.html
  specs/docs/frontend/scripts_calendar-script.js.html
  specs/docs/frontend/scripts_future-nav-script.js.html
  specs/docs/frontend/scripts_help-guide-script.js.html
  specs/docs/frontend/scripts_main-text-script.js.html
  specs/docs/frontend/scripts_router.js.html
  specs/docs/frontend/scripts_script.js.html
  specs/docs/frontend/scripts_side-nav-script.js.html
  specs/docs/frontend/scripts_todo-script.js.html
  specs/docs/frontend/scripts_weekly-nav-script.js.html
Labels: Notes/Specs
